<!-- タイトル -->
<div class="absolute top-[180px] sm:top-[229px] w-full text-center">
  <h1 class="text-[36px] sm:text-[64px] text-[#6C2C2F] font-shippori font-medium">
    文豪豆知識
  </h1>
</div>

<!-- ボタン -->
<div class="absolute top-[60vh] sm:top-[527px] left-1/2 transform -translate-x-1/2">
  <%= link_to "読む", bungaos_random_path,
    class: "w-[200px] h-[48px] sm:w-[266px] sm:h-[61px] rounded-[8px] bg-[#6C2C2F] flex items-center justify-center text-white text-[20px] sm:text-[32px] font-shippori font-normal hover:opacity-90 transition cursor-pointer" %>
</div>
